*{
	margin: 0px;
	padding: 0px;

}

a{
	text-decoration: none;
	color: #1E32AC;
}
a:hover{
	color: #FD1D1D;
}
p{
	font-size: 18px;
}
.container{
	width: 1200px;
	margin: auto;
}
/*Menu*/
.menu ul li{
	display: inline-block;
	padding: 10px 20px;
	text-transform: uppercase;
}
.menu{
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.menu img{
	max-width: 180px;
	width: 100%;
	margin-bottom: -30px;
}
.menu img:hover{
	opacity: 0;
}
/*Slide*/
.slice .dienbien2{
	width: 1200px;
	height: 600px;
}
.slice{
	margin-top: 30px;
	position: relative;
}
/*
.slice .left{
	position: absolute;
	left: 75px;
	top: 244px;
	width: 500px;
}
.slice .left h2{
	font-size: 80px;
	color: #262323;
}
.left p{
	margin-top: 20px;
	color: #FFFFFF;
}
.btn-ls{
	color: #ccc;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 4px;
	position: relative;
	text-align: center;
	color: #fff;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 20px;
}
.btn-ls:hover{
	color: #fff;
	text-decoration: none;
}
.slice .right{
	position: absolute;
	bottom: 27px;
	right: 36px;
}
.hidden{
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	margin-left: 20px;
	border:none;
	font-size: 40px;
	cursor: pointer;
}
.hidden:hover{
	color: #913D3D;
}*/
/*Banner*/
.banner{
	margin-top: 20px;
	height: 1700px;
}
#banner1{
	width: 590px;
	height: 400px;
	margin-right: 20px;
	float: left;
	background-image: url('../images/hagiang1.jpg');
	background-size: cover;
	position: relative;
	 margin-top: 20px;


}
#banner2{
	width: 590px;
	height: 400px;
	float: left;
	background-image: url('../images/hagiang2.jpg');
    background-size: cover;
    position: relative;
     margin-top: 20px;


}
.view1{
	position: absolute;
	left: 120px;
    bottom: 24px;
    font-size: 40px;
	text-transform: capitalize;
	

}
.view2{
	position: absolute;
	left: 148px;
    bottom: 17px;
    font-size: 40px;
    text-transform: capitalize;
	
}
#banner3{
	width: 590px;
	height: 400px;
	margin-right: 20px;
	float: left;
	background-image: url('../images/hagiang3.jpg');
	background-size: cover;
	position: relative;
	 margin-top: 20px;


}
#banner4{
	width: 590px;
	height: 400px;
	float: left;
	background-image: url('../images/hagiang4.jpg');
    background-size: cover;
    position: relative;
     margin-top: 20px;


}
.view3{
	position: absolute;
	left: 108px;
    bottom: 18px;
    font-size: 40px;
	text-transform: capitalize;
	

}
.view4{
	position: absolute;
	left: 143px;
    bottom: 17px;
    font-size: 40px;
    text-transform: capitalize;
	
}
#banner5{
	width: 590px;
	height: 400px;
	margin-right: 20px;
	float: left;
	background-image: url('../images/hagiang5.jpg');
	background-size: cover;
	position: relative;
	 margin-top: 20px;


}
#banner6{
	width: 590px;
	height: 400px;
	float: left;
	background-image: url('../images/hagiang6.jpg');
    background-size: cover;
    position: relative;
     margin-top: 20px;

}
.view5{
	position: absolute;
	left: 148px;
    bottom: 18px;
    font-size: 40px;
	text-transform: capitalize;
	

}
.view6{
	position: absolute;
	left: 162px;
    bottom: 21px;
    font-size: 40px;
    text-transform: capitalize;
	
}
#banner7{
	width: 590px;
	height: 400px;
	margin-right: 20px;
	float: left;
	background-image: url('../images/hagiang7.jpg');
	background-size: cover;
	position: relative;
	 margin-top: 20px;


}
#banner8{
	width: 590px;
	height: 400px;
	float: left;
	background-image: url('../images/hagiang8.jpg');
    background-size: cover;
    position: relative;
     margin-top: 20px;


}
.view7{
	position: absolute;
	left: 161px;
    bottom: 18px;
    font-size: 40px;
	text-transform: capitalize;
	

}
.view8{
	position: absolute;
	left: 39px;
    bottom: 24px;
    font-size: 40px;
    text-transform: capitalize;
	
}
/*Footer*/
.footer{
	background: #DCEDF1;
	color: #030303;
	height: 318px;
	position: relative;
	width: 100%;
	
}
.footer .footer-content{
   
    display: flex;

}
.footer .footer-content .footer-section{
	flex: 1;
	padding: 26px;
	border: 1px solid #fff;

}
.footer .footer-content h2,
.footer .footer-content h3{
	color:  ##000000;


}
.footer .footer-content .about h1 span{
	color: #2C41DF;
}
.footer .footer-content .about .contact span{
	display: block;
	font-size: 18;
	margin-bottom: 8px;
}
.footer .footer-content .about .socials a{
	border: 1px solid #808080;
	width: 45px;
	height: 32px;
	padding-top: 5px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 22px;
	border-radius: 5px;
	transition: all .3s;

}
.footer .footer-content .about .socials a:hover{
	border: 1px solid #fff;
	color: #A00808;
	transition: all .3s;
}
.footer .footer-content .links ul a{
	display: block;
	color: #010101;
	text-decoration: none;
	margin-bottom: 8px;
	margin-left: 45px;
	font-size: 14px;
	transition: all .3s;

}
.footer .footer-content .links ul a:hover{
	color: #A00808;
	margin-left: 15px;
	transition: all .3s;
}
.footer .footer-content .contact-form .contact-input{
	background: #272727;
	color: #bebdbd;
	margin-bottom: 5px;
	line-height:  14px;
	padding:14px 90px;
	border: none;

}
.footer .footer-content .contact-form .contact-input:focus{
	background: #1a1a1a;
}
.btn-big{
	padding: 7px 14px;
	line-height: 14px;

}
.footer .footer-content .contact-form .contact-btn{
	float: right;
}
.footer .footer-bottom{
	background: #343a40;
	color: #686868;
	height: 50px;
	width: 100%;

	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 10px;


}
